

:root {
  --cal-bg-color: #b19371; 
  --stats-bg-color: #1c2b4a; 
  --text-light: #fff;
  --text-dark: #111;
}

.statsPage {
  /*width: 375px;
  height: 812px; 
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;*/
  font-family: 'Sanchez', Arial, sans-serif !important;
}

 
.statsPage ion-content {
  --background: var(--stats-bg-color); 
}


.calendarContainer {
  background: var(--cal-bg-color);
  color: var(--text-light);
  padding: 0 1rem;
  padding-bottom: 2rem;
  
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  position: relative;
  z-index: 10;
}


.headerTransparent ion-toolbar {
  --background: transparent;
  --border-width: 0;
  padding-top: 5px;
}

.backIcon {
  font-size: 1.5rem;
  color: var(--text-light);
}


.streakBadge {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 2px solid var(--text-light);
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  position: relative; 
}

.flameIcon {
  color: #ff9900; 
  font-size: 1.2rem;
  position: absolute;
  top: 5px;
  left: 5px;
}

.streakNumber {
  font-size: 1.5rem;
  margin-left: 10px; 
  color: var(--text-light);
}


.dateInfo {
  text-align: center;
  margin-top: -10px;
  margin-bottom: 1.5rem;
}
.dateInfo p {
  font-size: 0.9rem;
  margin: 0;
  opacity: 0.8;
}
.dateInfo h1 {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 5px 0 0 0;
}


.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  text-align: center;
  font-size: 1.1rem;
}

.day {
  padding: 5px 0;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.completedDay {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}


.currentStreak {
  background: var(--stats-bg-color);
  color: var(--text-light);
  font-weight: 600;
}


.currentDay {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}


.dayLabels {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
}


.statsContainer {
  background: var(--stats-bg-color);
  color: var(--text-light);
  padding: 2rem 1rem;
  position: relative;
  z-index: 5;
}

.statsTitle {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.statsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.statItem {
  text-align: center;
}

.statValue {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0;
}

.statLabel {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  opacity: 0.7;
}


.statsPage ion-content::part(scroll) {
  padding-bottom: env(safe-area-inset-bottom);
}