* {
  font-family: "Sanchez", Arial, sans-serif;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;  
  background: #111; 
}

ion-app,
ion-router-outlet,
ion-page {
  height: 100%;
}
